#how-to{
    height:180px;
}
#row-container {
    height: 540px;
    padding: 20px;
    border: 2px solid #CCC;
    margin-bottom: 20px;
    background-color:#FFF }
#map-canvas {
    height: 500px;
    margin: 0px;
    padding: 0px
}
#food-area{
    height: 500px;
}
#food-items{
    height: 430px;
    width: 95%;
    overflow: auto;
}
#restaurant-info{
    height:400px;
    overflow: auto;
    margin-bottom:60px;
}
#content{
    margin-top:50px;
}